* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}
.header__nav-list{
    display: flex;
    
}

a {
    text-decoration: none;
}

a img {
    display: flex;
    align-items: center;
}

.header__nav-link {
    /* margin-right: 15px; */
    padding: 23px 15px;
    color: white;
    transition: 500ms;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}



.header__nav-link:hover {
    background-color: white;
    color: #4A939B;
}


.nav {
    background-color: #4A939B;
}

.nav__box {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    height: 565px;
}

.header__content {
    background: url(images/Group2.png) no-repeat center /cover;
    color: white;
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.header__content h1 {
    font-size: 50px;
    font-weight: 700;

}

.header__content p {
    font-size: 18px;
}

.header__content p span {
    font-size: 18px;
    font-weight: 700;
}


/* main****************************************************************************** */

.main {
    width: 1140px;
    margin:  auto;
    display: flex;
    margin-top: -35px;



}

.main__left {
    width: 540px;
    background: linear-gradient(127deg, rgba(113, 31, 27, 0.17) 35.52%, rgba(21, 108, 109, 0.16) 68.34%), #FFF;
    border-radius: 6px;
    border: 1px solid #9B9B9B;
    padding: 15px;
    margin-right: 30px;
}

.main__left img {
    margin-bottom: 20px;
}

.main__left-title {
    margin-bottom: 10px;
    color: #2C2A2A;
    font-size: 22px;
    font-weight: 700;
}

.main__left-desc {
    color: #9B9B9B;
}


.main__right {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}
.main__right-extra{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.main__right-item {
    width: 265px;
    border: 1px solid #9B9B9B;
    text-align: center;
    background: linear-gradient(126deg, rgba(239, 23, 23, 0.04) 21.2%, rgba(26, 112, 111, 0.17) 82.65%);
    border-radius: 6px;
    padding: 12px;
    transition: 500ms;

}

.main__right-title {
    color: #4A939B;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.main__right-desc {
    color: #fff;

}



.footer{
    margin-top: 30px;
    background-color: #4A939B;
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 260px;

    /* align-items: center; */
}
form input{
    padding:  8px;
    border: none;
    outline: none;
    border-radius: 6px;
}


form textarea{
    margin-top: 10px;
    padding: 8px 294px 60px 8px;
    resize: none;
    border: none;
    outline: none;
    border-radius: 6px;
}

form button{
    border: none;
    outline: none;
    margin-top: 11px;
    border-radius: 6px;
    background: #52BFAD;
    padding: 6px 135px;
    color: #FFF;
    transition: 300ms;
}


form button:hover {
    background: #FFF;
    color: #52BFAD;
 
}

form button:focus{
    background: blue;
    color: #FFF;
}

.footer__nav{
    display: flex;
    align-items: center;
}


.footer__nav ul li a{
    color: #fff;
   
}


.footer__nav ul li a:hover{
    color: #52BFAD;
    transition: 300ms;
}


.footer__nav ul li{
    margin-bottom: 10px;
}


.footer__list-one{
    margin-right: 75px;
}

.lorem_a{
    margin: 500px;
    display: block;
}
.main__right-item:hover{
    transform:   translate(150px) rotate(160deg);
    
}